<div class="alert alert-primary">
    <h4>程序请求时发生壹个内部错误，我们会反馈给开发团队！</h4>
    <h5>请通过邮箱sudons@msn.cn与我们联系</h5>
</div>

<div class="alert alert-warning">
    <h4>错误详情：</h4>
</div>

<div class="alert alert-danger">
    <h5>异常消息</h5>
    <hr />
    <p>@ViewBag.ErrorTitle</p>
    <p>@ViewBag.ErrorMessage</p>
</div>
